body{


    background-color: #8cd5f7;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;

}


h2{
    color: #de1d1d;
    text-align: left;
}




button{
    color: white;
    border: none;
    border-radius: 5px;

    text-align: center;
}

